<!DOCTYPE html>
<html>
<head>
    <title>articles</title>
</head>

<body>
    <ul>
    {% for article in object_list %}
        <li>{{ article }} ({{ article.author }})</li>
    {% endfor %}
    </ul>
</body>

</html>